version: '3.8'

services:
  keycloak:
    container_name: keycloak-demo
    image: 'quay.io/keycloak/keycloak:23.0'
    ports:
      - "8081:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./realm.json:/opt/keycloak/data/import/realm.json
